<!DOCTYPE html>
<html lang="en">
  <head>
    <title>uʍop ǝpısdn slooʇ</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- css -->
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/yourworld.css?v=1">

    <!-- jQuery -->
    <script type="text/javascript" src="/static/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="/static/jquery.scrollview.js"></script>
    <script type="text/javascript" src="/static/jquery.droppy.js"></script>
    <script type="text/javascript" src="/static/jquery.simplemodal-1.3.3.mod.js"></script>
  </head>
  <body>
    <div class="menu-top-left">
      <button class="meun-btn" onclick="location.href='index.html'" type="button"> Tools Upside Down </button>
    </div>

    <div class="menu-top-right">
      <button class="meun-btn" style="padding-right:3px;" onclick="menuSyllabus()" type="button"> Syllabus </button>
      <button class="meun-btn" style="padding-left:3px; padding-right:3px;" onclick="menuSchedule()" type="button"> Schedule </button>
      <button id="menuArenaId" class="meun-btn" style="padding-left:3px;" onclick="menuArena()" type="button"> Are.na </button>
    </div>

    <div class="menu-bottom-left" style="pointer-events: none;">
      <button class="meun-btn" onclick="thumbnailSelection()" type="button"> 12/25/2022 </button>
    </div>

    <div class='a font-body'>Halim</div>
    <div class='b font-body'>Dowon</div>
    <div class='c font-body'>Sojung</div>
    <div class='d font-body'>Dohee</div>

    <iframe id="areaIframe" src="https://www.are.na/halim-lee/test-idqr4equ1sm/embed"></iframe>

    <div>
      <h1 id="loading">Loading...</h1>
      <div id="yourworld"></div>
      <script type="text/javascript">
        $(function() {
          var menu = $.Menu($('#menu'), $('#nav'));
          var state = {{ state|safe }};
          InitWorld(document.getElementById('yourworld'), menu, state);
        });
      </script> 
    </div>
    
    <!-- script -->
    <script type="text/javascript" src="/static/index.js"></script>
    <script type="text/javascript" src="/static/yourworld.js?v=4"></script>
  </body>
</html>